/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
     background-color: #526D4A;
}

h1 {
     font-family: "Lucida Console", monospace;
}

h3 {
     font-family: "Lucida Console", monospace;
}

img{
     border-radius: 8px;
     height: 700;
     width: 100%;
}

p{
     font-family: "Courier New", monospace;
}

.column{
     float: left;
     width: 45%;
     padding: 4px;
}

.row::after{
     content: "";
     clear: both;
     display: table;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}
